.audio-cell {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: var(--player-bg-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px;
  box-sizing: border-box;
  border-radius: 0px;
  cursor: pointer;
}

.audio-overlay {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.audio-label {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 5px;
}

.audio-controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.play-btn {
  background-color: var(--player-bg-color);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 0; /* button size */
  cursor: pointer;
}

.play-btn:hover {
  background-color: --hover-bg-color;
}

.play-icon {
  font-size: 72px; /* much bigger icon */
  line-height: 1;
}

.progress, .volume {
  flex: 1;
  cursor: pointer;
}