html, body {
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  line-height: 2;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.wrap {
    display: flex;
}
.wrap img {
    object-fit: contain;
}

nav#landmarks {
    display:none;
}

nav#page-list {
    display:none;
}

ol {
    list-style-type: none;
}

body {
    background-color: var(--page-color);
    color: #222;
    font-family: sans-serif;
    margin: 0;
}

p {
  font-size: 1.5em;
}

h1.song_title {
	font-family: Verdana, sans-serif;
	color: var(--text-color);
	font-weight: bold;
}

p {
    color: var(--text-color);
    font-weight: bold;
	font-family: Verdana, sans-serif;
}

table {
    width: 100%;
    margin-top: 0em;
    text-align: left;
}
th,
td {
    	border: 0px solid #999;
    	padding: 1em;
    	cursor: pointer;
    	vertical-align: top;
	padding-top: 0px;
}

td:hover {
    background-color: var(--hover-bg-color);
}

.no-hover:hover {
  background: inherit;
  cursor: default;
}

/* Text layout */

.container {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0 15px;
  margin: 0 auto;
}

.items-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.full-row-item {
  flex-basis: 100%;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  border-bottom: 0px solid #e5e5e5;
  margin-bottom: 15px;
}

.item {
  flex-basis: 100%;
  text-align: center;
  padding: 2em;
}

.inside_item {
     flex-basis: 100%;
    padding-right: 2em;
    border-right: 1px solid var(--text-color);
}

/* @media (max-width: 1024px) {
  .item {
    flex-basis: 50%;
  }
} */

@media (min-width: 768px) {
  .item {
    flex-basis: 33%;
  }
}

